@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in MyHotel</h1>
    <p>Per accedere alla piattaforma inserire le seguenti credenziali. Username : admin e Password : admin.</p>
</div>
