<h1>Benvenuto</h1>

<ul>
    <li><a asp-controller="Anagrafica" asp-action="Index">Gestione Trasgressori</a></li>
    <li><a asp-controller="TipoViolazione" asp-action="Index">Elenco Violazioni</a></li>
    <li><a asp-controller="Verbale" asp-action="Index">Compilazione Verbale</a></li>
    <li><a asp-controller="Report" asp-action="VerbaliPerTrasgressore">Totale Verbali per Trasgressore</a></li>
    <li><a asp-controller="Report" asp-action="PuntiDecurtatiPerTrasgressore">Totale Punti Decurtati per Trasgressore</a></li>
    <li><a asp-controller="Report" asp-action="ViolazioniOltre10Punti">Violazioni con più di 10 Punti</a></li>
    <li><a asp-controller="Report" asp-action="ViolazioniOltre400Euro">Violazioni con Importo Maggiore di 400 Euro</a></li>
</ul>