@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <text>Benvenuto, @User.Identity.Name</text>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var roles = TempData["Roles"] as string[];
}

@if (roles != null && roles.Any())
{
    <ul>
        @foreach (var role in roles)
        {
            <li>@role</li>
        }
    </ul>
}
