@{
    ViewData["Title"] = "Conteggio Prenotazioni Pensione Completa";
}

<h1>Conteggio Prenotazioni Pensione Completa</h1>
<p>Numero totale di prenotazioni per soggiorni di tipo "Pensione Completa": @ViewBag.NumeroPrenotazioni</p>
<a asp-action="Index">Torna alla lista delle prenotazioni</a>
